# Node modules
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore

# Editor/IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Ionic build artifacts
www
android
ios

# Docker files
docker-compose.override.yml
